fastapi
uvicorn
requests
pandas
python-multipart
jinja2
aiofiles
pydantic
numpy
faiss-cpu # or faiss-gpu if you have a GPU
sentence-transformers
Pillow
beautifulsoup4 
tqdm
Flask
Flask-CORS
reportlab # For PDF export
playwright
playwright-stealth
motor
passlib[bcrypt]
email-validator
